/* belegungsplan */






.ibk_belegungstabelle {
	border: 2px inset black;
	border-collapse: collapse;
	font-size: 9pt;
	font-family: Arial,Helvetica,sans-serif;
}

.ibk_belegungstabelle caption {
	text-align: right; 
	padding-top: 4px;
	padding-bottom: 4px;
	vertical-align: bottom;
	caption-side: bottom;
}

.ibk_belegungstabelle td  {
	padding: 1px;
	border: 1px solid #EDEDED;
	width: 15px !important;
	height: 15px;
	text-align: center;
	vertical-align: middle;
	cursor: pointer;
}

.ibk_belegungstabelle td.month {
	background-color: #DEDEDE;
	padding: 1px;
	border: 1px solid #000000;
	text-align: center;
}

.ibk_belegungstabelle th {
	padding: 1px;
	border: 1px solid #000000 !important;
	text-align: center;
	color: #000000 !important;
}

.ibk_belegungstabelle .month {
	color: #000000 !important;
}

.ibk_belegungstabelle thead tr {
	background-color: #DEDEDE;
}

.ibk_belegungstabelle td.notisday {
	background-color: black;
}

.ibk_belegung_009900 {
	background-color: #009900;
	color: white;
}

.ibk_belegung_gr {
	background-image: url('../images/gr.gif');
	background-position: center;
	color: white;
}

.ibk_belegung_rg {
	background-image: url('../images/rg.gif');
	background-position: center;
	color: white;
}

.ibk_belegung_ff0000 {
	background-color: red;
	color: white;
}

.ibk_belegung_FFFF00 {
	background-color: yellow;
	color: black;
}

.ibk_belegung_ry {
	background-image: url('../images/ry.gif');
	background-position: center;
	color: black;
}

.ibk_belegung_yr {
	background-image: url('../images/yr.gif');
	background-position: center;
	color: black;
}

.ibk_belegung_gy {
	background-image: url('../images/gy.gif');
	background-position: center;
	color: black;
}

.ibk_belegung_yg {
	background-image: url('../images/yg.gif');
	background-position: center;
	color: black;
}

.ibk_belegung_loop {
	background-image: url('../images/loop.gif');
	background-position: center;
}

.ibk_belegung_loop2 {
	background-image: url('../images/loop2.gif');
	background-position: center;
}

.ibk_belegung_0000FF {
	background-color: #0000FF;
	color: white;
}

.ibk_belegung_00FF00 {
	background-color: #00FF00;
	color: black;
}

.ibk_belegung_FF0000 {
	background-color: #FF0000;
	color: black;
}

.ibk_belegung_00FFFF {
	background-color: #00FFFF;
	color: black;
}

.ibk_belegung_00FFFF {
	background-color: #00FFFF;
	color: black;
}

.ibk_belegung_FF00FF {
	background-color: #FF00FF;
	color: white;
}

.ibk_belegung_FFFF00 {
	background-color: #FFFF00;
	color: black;
}

.ibk_belegung_FFFFFF {
	background-color: #FFFFFF;
	color: black;
}

.ibk_belegung_999900 {
	background-color: #999900;
	color: white;
}

.ibk_belegung_FF9999 {
	background-color: #FF9999;
	color: black;
}

.ibk_belegung_FF7F00 {
	background-color: #FF7F00;
	color: white;
}

.ibk_belegung_68228B {
	background-color: #68228B;
	color: white;
}

.ibk_belegung_7FFF00 {
	background-color: #7FFF00;
	color: black;
}

.ibk_belegung_FFFFFF {
	background-color: #FFFFFF;
	color: black;
}

.ibk_belegung_CCCCCC {
	background-color: #CCCCCC;
	color: black;
}

.ibk_belegung_FFD700 {
	background-color: #FFD700;
	color: black;
}	

.ibk_belegung_A52A2A {
	background-color: #A52A2A;
	color: white;
}

.ibk_belegung_4A4A4A {
	background-color: #4A4A4A;
	color: white;
}

.legend_marker, .lc_marker {
	padding-left: 2px;
	padding-right: 2px;
	border: 1px solid black; 
	font-size: 80%;
	margin-left: 1px;
}

.lc_marker {
	background-color: #DEDEDE;
	color: #000000;
}

/* gaestebuch */

.ibkgb_help {
	cursor: pointer; 
	background-color: #ECC862; 
	padding: 1px 5px 1px 5px; 
	border: 1px solid black; 
	font-weight: bold; 
	float: right;
}

#ibkgb_form_div {
	padding-bottom: 10px;
	height: 300px; 
}

#ibkgb_switcher {
	font-size: 100%; 
	cursor: pointer;
}

#ibk_guestbook {
	position: relative;
}

#ibkgb_nachricht {
	border: 1px solid black; 
	width: 420px; 
	height: 100px; 
	background-color: white;
	color: black;
}

.ibkgb_button {
	cursor: pointer; 
	background-color: #ECC862; 
	padding: 1px 5px 1px 5px; 
	border: 1px solid black; 
	color: black;
}
.ibkgb_bold {
	font-weight: bold;
}
.ibkgb_underline {
	text-decoration: underline;
}
.ibkgb_italic {
	font-style: italic;
}

#ibkgb_preview_area {
	border: 1px dashed black; 
	height: 100px; 
	overflow: auto; 
	background-color: white;
	color: black;
}
#cap_code {
	width: 50px; 
	border: 1px solid #000000; 
	margin-bottom: 5px; 
	background-color: white;
	color: black;
}
#ibkgb_waiter { 
 position: absolute; 
 left: 100px; 
 top: 50px; 
 width: 200px; 
 height: auto; 
 border: 3px double black; 
 background-color: #EEEEEE; 
 padding: 7px;
 color: #333333;
}

#ibkgb_redgif {
	width: 20px; 
	height: 20px;
}

.ibkgb_close_button {
 color: #333333;
 border: 2px outset black;
 background-color: #F8E6B5;
}

.ibkgb_entry_table{
 text-align: left;
 border-collapse: collapse; 
 margin-top: 20px; 
 border: 1px solid #000000; 
 background-color: #F8E6B5; 
 width: 420px;
 
}

.ibkgb_entry_table a {
 color: inherit !important;
 text-decoration: underline !important;
 font-weight: bold;
}

.ibkgb_browser_table {
 border-collapse: collapse; 
 margin-top: 10px; 
 border-width: 0px; 
 width: 420px;
}



.ibkgb_entry_td {
 border: 1px solid #000000;
 color: #000000;
}

.ibkgb_entry_td2 {
 color: #000000;
}

#ibkgb_name, #ibkgb_email {
 border: 1px solid black; 
 width: 99%;
 background-color: white;
 color: black;
}

.ibkgb_counter_a {
	cursor: pointer; 
	border: 1px solid #000000; 
	padding: 2px;
	padding-left: 4px; 
	padding-right: 4px; 
	background-color: #DEDEDE;
	color: #333333 !important;
	font-weight: bold;
}

.ibkgb_counter_i:hover {
	background-color: #9D9D9D;
	color: #333333 !important;
}

.ibkgb_counter_i {
 padding: 2px;
 cursor: pointer; 
 border: 1px dotted #000000; 
 padding-left: 4px; 
 padding-right: 4px;
 background-color: #EDEDED;
}

#ibkgb_theentries {
 margin-top: 5px;
}

#ibkgb_maintable {
	width:  424px;
}

.ibk_label {
	display: inline-block;
	width: 120px;
	white-space: nowrap;
	font-size: 12px;
}

.kf_stdinput {
	width: 300px;
	border: 1px solid #7f9db9;
}

.kf_stdarea {
	width: 300px;
	height: 100px;
	font-family: inherit;
	font-size: inherit;
	border: 1px solid #7f9db9;
}

.kf_miniarea {
	width: 300px;
	height: 60px;
	font-family: inherit;
	font-size: inherit;
	border: 1px solid #7f9db9;
}

.kf_stdbutton {
	width: 306px;
	margin-left: 1px;
	padding: 0px;
}

.field_holder {
	text-align: left;
	margin-left: 10px;
	margin: 2px;
	
}

marquee.ibk_marquee a {
	text-decoration: underline;
	color: inherit !important;
	font-weight: inherit !important;
}

marquee.ibk_marquee {
	margin-top: 5px; 
	margin-bottom: 5px; 
	text-align: center; 
	padding: 3px;
	line-height: 140%;
	border-width: 1px;
	border-style: solid;
}

h2.ibk_contacttitle {
	margin-top: 10px;
	margin-bottom: 10px;
}

/* counter */
.ibk_counter_dummy {
	width: 100px;
	height: 20px;
	border: 3px double #FF0000;
	background-color: white;
	color: black; 
	padding-top: 7px;
	padding-left: 5px;
	margin-top: 10px;
}

/* quickgalery */

/* edit */
.secure_info {
 	border: 3px double red; 
 	background: #E2DFB5; 
 	color: black; 
 	margin: 4px 0px;
}

/* download */
.ibk_link {
	background-repeat: no-repeat; 
	background-position: 5px center; 
	min-height: 16px;
}